#content{
    padding:30px;
    width: fit-content;
    min-width: 1200px;
    max-width: 1300px;

    background-color: rgb(0, 0, 0);

    box-shadow: 15px;
    border-color: rgb(255, 0, 221);
    border-style:double;
    border-width: 10px;
}

body{
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(purple\ spikes.png);

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 14pt;
}

li{
    padding-top: 10px;
}

a {
    color:rgb(255, 0, 191);
}


/*TABLES*/
.table{
    display:flex;
    justify-content: center;
    align-items: center;
}
.centered{
    display:flex;
    justify-content: center;
    align-items: center;
}
th{
    font-size: 18px;
    background-color: #dd1212;
    color:rgb(255, 255, 255);
    
    padding-right: 25px;
    padding-left: 25px;

    width: 200px;
}
td{
    font-size: 16px;
    background-color: #f5b8b8;
    color:black;

    line-height: 30px;
    text-align: center;

    padding-right: 25px;
    padding-left: 25px;
}


.blueth{
    font-size: 18px;
    background-color: #1c29d3;
    color:rgb(255, 255, 255);
    
    padding-right: 25px;
    padding-left: 25px;

    width: 200px;
}
.bluetd{
    font-size: 16px;
    background-color: #61b970;
    color:black;

    line-height: 30px;
    text-align: center;

    padding-right: 25px;
    padding-left: 25px;
}