#page{
    padding:30px;
    width: fit-content;
    min-width: 700px;
    max-width: 800px;

    background-color: rgb(0, 1, 66);

    border-radius: 5px;
    box-shadow: 15px;
    border-color: rgb(255, 255, 255);
    border-style:inset;
    border-width: 10px;
}

body{
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:url(Arcohaem\ Tribes.png);
    background-size:100%;

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 12pt;
}

.sector {
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    box-shadow: 15px;

    width: 46%;
    height: 200px;

    padding-left: 10px;
    padding-right: 10px;

    float:left;
}

li{
    padding-top: 10px;
}

a {
    color:rgb(158, 255, 255);
}


/*TABLES*/
.table{
    display:flex;
    justify-content: center;
    align-items: center;
}
.centered{
    display:flex;
    justify-content: center;
    align-items: center;
}
th{
    font-size: 18px;
    background-color: #dd1212;
    color:rgb(255, 255, 255);
    
    padding-right: 25px;
    padding-left: 25px;

    width: 200px;
}
td{
    font-size: 16px;
    background-color: #f5b8b8;
    color:black;

    line-height: 30px;
    text-align: center;

    padding-right: 25px;
    padding-left: 25px;
}


.blueth{
    font-size: 18px;
    background-color: #1c29d3;
    color:rgb(255, 255, 255);
    
    padding-right: 25px;
    padding-left: 25px;

    width: 200px;
}
.bluetd{
    font-size: 16px;
    background-color: #61b970;
    color:black;

    line-height: 30px;
    text-align: center;

    padding-right: 25px;
    padding-left: 25px;
}